.container {
    margin: 20px 50px;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

:host ::ng-deep .small-field {
    width: 100%;
}

:host ::ng-deep .medium-field {
    width: 100%;
}

:host ::ng-deep .large-field {
    width: 100%;
}